.delete-modal-container {
  width: 80%;
  left: 10%;
  position: relative;
  padding: 20px;
}

.delete-modal-header {
  width: 100%;
  text-align: center;
}

.delete-modal-desc {
  text-align: center;
  padding-bottom: 20px;
}

.delete-modal-button {
  position: relative;
  width: 100px;
  left: calc(50% - 50px);
}
