.nav-container {
  display: inline-flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  height: fit-content;
  padding-top: 5px;
  position: relative;
  z-index: 10;
}

.header-nav {
  width: 100%;
}

.logo {
  text-align: center;
  flex-shrink: 0;
}

.tab-text {
  text-align: center;
}
