.container {
  width: 100%;
  display: inline-flex;
  justify-content: space-between;
  padding-left: 15px;
  padding-right: 5px;
  padding-bottom: 10px;
}

.button {
  height: 40px;
  line-height: 20px;
  color: black;
  border: none;
}
