.container {
  width: 100%;
  height: 100%;
  position: relative;
}

.header {
  width: 60%;
  left: 20%;
  top: 5%;
  height: 75px;
  position: relative;
  text-align: center;
  border-bottom: 1px solid gray;
}

.preview {
  width: 70%;
  left: 15%;
  top: 15%;
  /* height: calc(100vh - 550px); */
  position: relative;
}

.row {
  left: 10%;
  width: 80%;
  height: 20%;
  display: inline-flex;
  justify-content: space-between;
  position: relative;
}

.cell {
  position: relative;
  width: 25%;
}

.text {
  text-align: center;
}

.footer {
  width: 60%;
  left: 20%;
  top: 20%;
  height: 75px;
  position: relative;
  border-top: 1px solid gray;
  padding-top: 50px;
}

.button {
  position: relative;
  width: 150px;
  left: calc(50% - 50px);
}
