.container {
  width: 80%;
  left: 10%;
  position: relative;
  padding: 20px;
}

.header {
  width: 100%;
  text-align: center;
}

.description {
  text-align: center;
  padding-bottom: 20px;
}

.form {
  position: relative;
  left: 30%;
  width: 40%;
}

.button {
  padding-top: 10px;
}
